

/*Fuente que va a ultilizar la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:wght@100&display=swap');
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');



/* paleta de colores*/

:root {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0,0,0, .7)
}

/*GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', 'Helvetica';
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}


/*HEADER*/

.header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  transition: .5s;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 .1rem .1rem var(--shadow-color);
}



/*LOGO*/
.logo{
  font-size: 5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  margin-right: auto ;
}

/*BARRA NAVEGACION*/
.navbar a{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 3.5rem;
  text-decoration: none;
}

.navbar a:hover{
  color: turquoise;
}

.header.sticky .navbar a:hover{
  color: var(--main-color);
  opacity: .7;
}


/*SECCION PRESENTACION*/
section{
  min-height: 100vh;
  padding: 0rem 7% 2rem;
  margin-bottom: 30rem;
}


#menu{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.inicio{
  display: flex;
  align-items: center;
}

.inicio .contenido-inicio{
  max-width: 77rem;
}

/*TEXTO PRESENTACION*/
.contenido-inicio h3{
  font-size: 4rem;
  font-weight: 700;
  line-height: .8;
}


.contenido-inicio h1{
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.contenido-inicio p{
  font-size: 2rem;
  
}

/*NOMBRE CON COLOR*/
.span-title{
  font-size: 5rem;
  font-weight: 700;
  color: var(--main-color);
}

.span-verde{
  color: turquoise;
  font-size: 2rem;
}

/*REDES SOCIALES*/
.contenido-inicio .redes-sociales a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: .5s ease;
  text-decoration: none;
}

/*LOGOS REDES*/

.contenido-inicio .redes-sociales a:hover{
  background: var(--main-color);
  color: var(--white-color);
  text-decoration: none;
}

/*BOTON CURRICULUM*/

.boton{
  display: inline-block;
  padding: 1.5rem 8.2rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  transition: .5 ease;
  text-decoration: none;
}

.boton:hover{
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}


/*CONTENEDOR DE PARTE ANIMADA*/

.inicio .imagen-animada {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%  ;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.inicio .imagen-animada .contenedor-img-animada{
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio .contenedor-img-animada .profesion{
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 600px;
  background: var(--bg-color);
  padding: 50px 0;
}

.inicio .contenedor-img-animada .profesion:nth-child(1) i{
  margin-right: 15px;
}

.inicio .contenedor-img-animada .profesion:nth-child(2),
.inicio .contenedor-img-animada .profesion:nth-child(4) {
  padding-bottom: 20px;
}


.inicio .profesion i{
  font-size: 4rem;

}

.inicio .profesion h3{
  font-size: 3rem;
  line-height: 2;
  font-weight: 600;
}



.inicio .contenedor-img-animada .circulo{
  width: 1000px;
  height: 1000px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}


.inicio .contenedor-img-animada .violeta{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 580px solid var(--main-color);
  border-bottom: 580px solid var(--main-color);
  border-right: 580px solid var(--main-color);
  border-left: 580px solid transparent;
}

/*IMAGEN NICO*/
.home-img img{
  position: relative;
  top: 73px;
  right: 0px;
  left: 170px;
  width: 120%;
  pointer-events: none;
}




/*SECCION DE SOBRE MI*/

#quien-soy {
  max-width: 1600px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;

}
/*foto*/
#quien-soy .fotoMia {

  display: block;
  height: auto;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
  
}

#quien-soy .fotoMia img {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--main-color);

}

#quien-soy  .quien-soy  {
  margin: 0 60px;
}
#quien-soy  .quien-soy .titulo {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-decoration-thickness: 5px;
}

#quien-soy .quien-soy h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 25px 0;
  letter-spacing: 2px;
  color: var(--text-color);
}

#quien-soy .quien-soy h2 span {
  color: var(--main-color);
}
#quien-soy .quien-soy h3 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: var(--main-color);
}

#quien-soy .quien-soy p {
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
  margin-bottom: 12px;
}



/*SECTION DE SERVICIOS*/


.servicios{
  min-height: 80vh;
  margin-bottom: 0;
  padding: 0 7% 0;
}
.titulo-servicio{
  font-size: 40px;
  font-weight: bold;
  margin: 25px 0;
  letter-spacing: 2px;
  color: var(--text-color);
  text-align: center;

}

.titulo-servicio span {
  color: var(--main-color);
}

.servicios-container{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 2rem;

  
}

.servicios-container .servicios-box{
  flex: 1 1 30px;
  background-color: var(--bg-color);
  padding: 3rem 2rem 4rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  border-top: .6rem solid var(--main-color);
  border-bottom: .6rem solid var(--main-color);
  
}

.servicios-container .servicios-box:hover{
  box-shadow: 0 .1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}


.servicios-box i{
  align-items: center;
  font-size: 7rem;
  color: var(--main-color);
}

.servicios-box h3 {
  font-size: 2.6rem;
  transition: .5s ease;
  pointer-events: none;
}

.servicios-box:hover h3{
  color: var(--main-color);
}


.servicios-box p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  pointer-events: none;
}

/*SECTION DE RECOMENDACIONES*/

.testimonio-contenedor{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
  margin-top: 0;
  margin-bottom: 20rem;
}

.testimonio-contenedor .testimonios-caja{
  
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 5rem;
}

.testimonios-caja .testimonios-box{
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.testimonio-contenedor .testimonio-slide{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 .1em .5rem var(--shadow-color);
  padding: 3em 5rem;
  border-top: .8rem solid var(--main-color);
  border-bottom: .8rem solid var(--main-color);

}
.testimonio-slide img{
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: .5rem solid var(--main-color);
}

.testimonio-slide h3{
  font-size: 2.5rem;
  margin: 2rem 0;
}


.testimonio-slide p{
  font-size: 1.4rem;
  text-align: center;
}



.testimonios-box .swiper-button-next,
.testimonios-box .swiper-button-prev {
  color: var(--main-color);
}


.testimonios-box .swiper-button-next{
  right: 0;
}

.testimonios-box .swiper-button-prev{
  left: 0;
}

.testimonios-box .swiper-pagination-bullet{
  background: var(--text-color);
}
.testimonios-box .swiper-pagination-bullet-active{
  background: var(--main-color);
}









/*---------------------------------------------PAGINA PROYECTOS---------------------------------------------------------*/



.portafolio{
  margin-top: 13rem;
  padding-bottom: 10rem;
}


/*TITULO*/
.portafolio h1{
  margin-bottom: 4rem;
  text-align: center;
  color: var(--text-color);
}


/*TARJETAS*/
.portafolio .portafolio-contenedor{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 2.5rem;
}

.portafolio-contenedor .portafolio-box{

  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.1);
  overflow: hidden;
  cursor: default;
}


/*IMAGEN DE PROYECTO*/
.portafolio-box img{
  width: 100%;
  transition: .5s ease;
}

.portafolio-box:hover img{
  transform: scale(1.1);
}

.portafolio-box .portafolio-layer{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: .5s ease;
}

.portafolio-box:hover .portafolio-layer{
  opacity: 1;
}


/*NOMBRE PROYECTO Y DESCRIPCION*/

.portafolio-layer h4{
  font-size: 3rem;
}

.portafolio-layer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}


.portafolio-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;

}
.portafolio-layer a i{
  font-size: 2rem;
  color: #333;
}


/*----------------------PAGINA SERVICIOS------------------------------------------------*/


.pag-servicio {
  display: grid;
  place-items: center;
}
.pag-servicio h1{
  color: var(--text-color);
  margin-bottom: 3rem;
  margin-top: 20rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 30em 1em 30em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 4em 1.5em;
  background: linear-gradient(#ffffff 50%, var(--main-color) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: 0.5s;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
.card p {
  color: #575a7b;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-servicio {
  background-color: var(--main-color);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.icon-servicio i {
  color: var(--text-color);
  
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-servicio {
  background-color: #ffffff;
  color: var(--main-color);
}
.card:hover .icon-servicio i{
  background-color: transparent;
  color: var(--main-color);
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}



/*----------------PAGINA SKILLS----------------------------------------------------*/

.header-pags{
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: .5s;
}

.navbar-pags a{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 3.5rem;
  text-decoration: none;
  
  
}

.navbar-pags a:hover{
  color: var(--main-color);
}

.contenedor-skills{
  padding-top: 130px;
  padding-bottom: 400px;
}

.contenedor-skills h1{
  text-align: center;
  
}

.skill-head:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: var(--bg-color);
}

.skill-contenedor{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 400px;
  font-size: 1.2rem;
}



.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}


.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
  width: 35px;
}

.skill-box:hover .img-skills {
  transform: translateY(-10px);
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: turquoise;
  transition: .5s;

}

.skill-title:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 0 2px 2px 0;
  transition: .5s;
}


.skill-icon{
  width: 60px;
}

.img-skills {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.img-skills:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100,100, 100, 0.5);
  border-radius: 45px 0 0 45px;

}


.skill-title h3{
  color: var(--text-color);
  margin-top: 0.5erm;
}


.skill-icon{
  width: 50px;
  z-index: 2;
}





























/*----------------------------------------------------PAGINA CONTACTO----------------------------------------------*/



/*FORMULARIO*/


.formu{
  min-height: 0;
  margin-bottom: 7rem;
}
.formu h1{
  margin-bottom: 3rem;
  margin-top: 20rem;
  text-align: center;
  
}

.formu h1 .span-verde{
  font-size: 7rem;
}

.formu form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 0;
}

.formu form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formu form .input-box input,
.formu form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
  box-shadow: 0 .1rem .5rem var(--text-color);
}

.formu form .input-box input{
  width: 49%;
}


.formu form textarea{
  resize: none;
}

.formu form .boton{
  margin-top: 2rem;
  cursor: pointer;
}


/*REDES SOCIALES*/
#contacto {

  display: flex;
  justify-content: center; /* Para centrar los botones horizontalmente */
  margin-bottom: 13rem;
  min-height: 0;

}
#contacto a{

  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .5s;
  background: rgba(0,0,0,0);
  color: var(--color);
  font-size: 2.5rem;
  -webkit-box-reflect: none;

}



#contacto a:hover{
  -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.4));
  background: var(--color);
  color: #050801;
  box-shadow: 0 0 5px var(--color),
  0 0 25px var(--color),
  0 0 50px var(--color),
  0 0 200px var(--color);
  
}




/*FOOTER*/

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
} 


.footer-text p{
  font-size: 1.6rem;
  color: var(--text-color);
}


.icon-subir a{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
  background: var(--white-color);
  border-radius: .8rem;
  border: .2rem solid var(--main-color);
  outline: .2rem solid transparent;
  transition: .5s ease;
}

.icon-subir a:hover{
  outline-color: var(--text-color);
}

.icon-subir a i{
  font-size: 2.4rem;
  color: #111135;
}











/*BREAKPOINTS*/

@media (max-width:1600px){
  html{
    font-size: 55%;
  }

/*SECCION INICIAL*/  

  .inicio .contenedor-inicio{
    max-width: 85.8rem;
    align-items: center;
    text-align: center;
  }
  .inicio .contenedor-img-animada{
    right: 30rem;
  }
  .inicio .contenedor-img-animada .profesion{
    display: none;
  }
  .inicio .contenedor-img-animada .overlay{
    display: none;
  }
  .inicio .contenedor-img-animada .violeta{
    right: -1rem;
    
  }
  .inicio .contenedor-img-animada .circulo{
    display: none;
    
  }
  .home-img{
    display: none;
  }

}

@media (max-width: 1300px) {
  html{
    font-size: 85%;
  }
  header{
    padding: 2rem;
  }
  section{
    padding: 10rem 3% 2rem;
  }

/*SECCION INICIAL*/

  .inicio{
    justify-content: center;
  }
  .inicio .contenido-inicio{
    max-width: 150rem;
    text-align: center;
  }
  .inicio .contenido-inicio h1{
    font-size: 4rem;
  }
  .inicio .contenido-inicio .span-title{
    font-size: 6rem;
  }
  .inicio .contenido-inicio h3{
    font-size: 5rem;
  }
  .inicio .contenido-inicio p{
    font-size: 3rem;
  }
  .inicio .contenido-inicio .span-verde{
    font-size: 3rem;
  }
  .inicio .contenido-inicio .redes-sociales a{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
  }
  #cnt{
    width: 100px;
    height: 100px;
  }
  .inicio .contenedor-img-animada .profesion{
  right: -12rem;
  height: 85.8rem;
  }
  .inicio .contenedor-img-animada .overlay{
    right: -45rem;
    
  }
  .inicio .contenedor-img-animada .violeta{
    right: -20rem;
    display: none;
  }
  .home-img{
    display: none;
  }
  
/*SECCION SERVICIOS*/
  .titulo-servicio{
    font-size: 7rem;
  }
  .servicios-container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 2rem;
  }

/*SECCION QUIEN SOY*/

  #quien-soy .quien-soy{
    margin: 0;
  }
}


@media (max-width:978px) {

  html{
    font-size: 55%;
  }
  .header {
    padding: 1rem;
  }
  #menu{
    display: block;
  }

/*NAVBAR*/
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .5rem solid rgba(247, 245, 245, 0.2);
    box-shadow: 0 .5rem 1rem rgba(231, 219, 219, 0.1);
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }
  .navbar a:active{
    color: var(--main-color);
  }
  .navbar a::before{
    display: none;
  }

/*LOGO*/

  .logo {
    font-size: 4rem;
    align-items: center;
    }

/*SECCION INICIAL*/

  .inicio .contenido-inicio{
    max-width: 90rem;
  }
  .contenido-inicio h3 {
    font-size: 2rem;
  }
  .contenido-inicio h1 {
    font-size: 1rem;
  }
  .contenido-inicio p {
    font-size: 3rem;
  }
  .span-title {
    font-size: 4rem;
  }
  .span-verde {
    font-size: 1rem;
  }
  .contenido-inicio .redes-sociales a {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    margin: 1rem 1rem 2rem 0;
  }
  .boton {
    padding: 1rem 4rem;
    font-size: 1.8rem;
  }
  .inicio{
    flex-direction: row-reverse;
  }
  .inicio .contenedor-img-animada .violeta{
    display: none;
  }
  .inicio .contenedor-img-animada .circulo{
    display: none;
  }
  .home-img img {
    top: 0;
    left: 0;
    width: 100%;
  }
  #quien-soy .fotoMia{
  display: none;
  }
  #quien-soy .quien-soy{
    margin: 0;
  }


  /*SECCION TESTIMONIOS*/ 
  .testimonio-contenedor{
    margin-top: 25rem;
  }
  .testimonio-contenedor h2{
    font-weight: 399;
  }
}

@media (min-width:767px){
  
  .testimonio-contenedor{
    margin-top: 25rem;
  }

  .testimonio-contenedor h2{
    font-weight: 800;
  }
}



@media (max-width:390px) {
  .header {
    padding: 1rem;
  }

  .inicio { 
    margin: 0;
    padding: 0;
  }

/*LOGO*/
  
  .logo {
    font-size: 2.5rem;
    align-items: center;
  }
  .navbar a {
    font-size: 1.8rem;
    margin-right: 1.5rem;
    align-items: center;
  }

/*SECCION INICIAL*/

  .contenido-inicio{
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .contenido-inicio h3 {
    font-size: 1rem;
  }


  .contenido-inicio h1 {
    font-size: 4rem;
  }

  .contenido-inicio p {
    font-size: 1.5rem;

  }

  .span-title {
    font-size: 3.5rem;
  }

  .span-verde {
    font-size: 1rem;
  }

  .contenido-inicio .redes-sociales a {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    margin: 1rem 1rem 2rem 0;
  }

  .boton {
    padding: 1rem 4rem;
    font-size: 1.8rem;
  }

  .inicio .imagen-animada {
    display: none;  
  }

  .home-img img {
    display: none;
  
  }

/*SECCION DE SOBRE MI*/

  #quien-soy .quien-soy{
    padding: 0;
    font-size: 1rem;
    margin: 0;
  }
  #quien-soy .quien-soy h3{
    font-size: 2rem;
    padding-bottom: 4rem ;
  }


  #quien-soy .fotoMia{
    display: none;
  }
  

}





/*RESPONSIVE PAGINA MIS PROYECTOS*/

@media (max-width: 1300px){
  
  .portafolio{
    margin-top: 3rem;
    padding: 17rem 8% 3rem;
    margin-bottom: 0;
  }
  .portafolio .portafolio-contenedor{
    grid-template-columns: repeat(2,1fr);
  }
  .portafolio .portafolio-layer h4{
    font-size: 1.5rem;
  }
  .portafolio .portafolio-layer p{
    font-size: 1.5rem;
  }
  #ult{
    display: none;
  }
}

@media (max-width:978px) {

  .portafolio{
    margin-top: 0;
    padding: 14rem 2% 1rem;
  }
  .portafolio h1{
    margin-bottom:3rem;
  }
  .portafolio .portafolio-contenedor{
    grid-template-columns: repeat(2,1fr);
  }
  .portafolio .portafolio-layer p{
    display: none;
  }
  .portafolio .portafolio-layer a{
    margin-top: 2rem;
  }
  
}

@media (min-width:767px){
  .portafolio{
    margin-top: 0;
    padding: 12rem 2% 6rem;
  }
}

@media (max-width: 389px){

  .portafolio{
    padding: 10rem 6% 2rem;
    
  }
  .portafolio h1{
    margin-bottom: 2rem;
    }
  .portafolio .portafolio-contenedor{
    grid-template-columns: repeat(2,1fr);
    }
  .portafolio .portafolio-layer p{
    display: none;
    }
  
}



/*RESPONSIVE PAGINA SKILLS*/
@media (max-width:1600px) {
  
  .skill-contenedor{
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 50px;
  }
  }

@media (max-width:1300px) {
  .skill-contenedor{
    grid-template-columns: repeat(2, 1fr);
    
  }
  .navbar a{
    font-size: 1.5rem;
  }
  }

@media (max-width:978px) {
  .contenedor-skills h1{
    font-size: 4rem;
  }
  .skill-contenedor{ 
    grid-template-columns: 1fr;
  }
  .skill-box{
    margin-top: 10%;
    font-size: 2rem;
  }
  }
@media (max-width:390px) {
  .skill-contenedor{ 
    grid-template-columns: 1fr;
  }
  .skill-box{
    margin-top: 15%;
    font-size: 2rem;
  }
}
